{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    <h1>Categories</h1>
    <div class="text-right">
        <a href="{{ path("admin_categories_add") }}" class="btn btn-success">Add new category <i
                    class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
    </div>
    <hr>
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>#Id</th>
            <th>Name</th>
            <th>Products count</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>
                    <a href="{{ path("show_products_by_category", {"slug": category.slug}) }}">
                        {{ category.name }}
                    </a>
                </td>
                <td>{{ category.products|length }}</td>
                <td>
                    <a href="{{ path("admin_categories_edit", {"slug": category.slug}) }}"
                       class="btn btn-warning">Edit</a>
                </td>
                <td>
                    {% if category.products|length == 0 %}
                        <form action="{{ path("admin_categories_delete", {"id": category.id}) }}" method="post">
                            <button class="btn btn-danger delete-item" type="submit">Delete</button>
                        </form>
                    {% else %}
                        <button class="btn btn-default disabled" type="submit">Delete</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}