{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    <h1>Users</h1>
    <hr>
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Fullname</th>
            <th>Funds</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.funds }}</td>
                <td>{{ user.roles|join(", ") }}</td>
                <td>
                    <a href="{{ path("admin_users_edit", {"id": user.id}) }}" class="btn btn-warning"><i
                                class="fa fa-edit" aria-hidden="true"></i>Edit</a>
                </td>
                <td>
                    <form action="{{ path("admin_users_delete", {"id": user.id}) }}" method="post">
                        <button class="btn btn-danger delete-item" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}