{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            {{ form_start(edit_form) }}

            {{ form_row(edit_form.email) }}
            {{ form_row(edit_form.fullName) }}
            {{ form_row(edit_form.money) }}
            {{ form_row(edit_form.plainPassword.first, {
                label: "New Password"
            }) }}
            {{ form_row(edit_form.plainPassword.second, {
                label: "Repeat New Password"
            }) }}
            {{ form_row(edit_form.roles) }}
            {{ form_row(edit_form.isBanned) }}

            <button class="btn btn-success pull-left fa fa-thumbs-up" formnovalidate>Edit User</button>

            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}