<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <h3 class="text-center">{{ product.name }}</h3>
        <img class="img-responsive center-block" src="{{ vich_uploader_asset(product, "imageFile") }}" alt="{{ product.name }}">
        <div class="caption">
            <div class="text-center">
                {{ product.averageRating|starsRating|raw }}
            </div>
            <hr>
            <p><strong>Quantity available: {{ product.quantity }}</strong></p>
            <div class="h3">
                <span class="label label-success">€{{ product.price|number_format(2) }}</span>
            </div>
            <hr>
            {% if product.hasActivePromotion %}
            {% endif %}
            <p class="text">
            <form method="post" action="#"
                  style="display: inline-block">
                <button class="btn btn-primary" type="submit"><span
                            class="fa fa-cart-plus"></span> Add to Cart
                </button>
            </form>
            <a href="{{ path("product_show", {"slug": product.slug}) }}" class="btn btn-default"
               role="button"><i class="fa fa-info" aria-hidden="true"> Details</i>
            </a>
        </div>
    </div>
</div>