{% extends '@ShoppingCart/base.html.twig' %}

{% block body %}
    {% if promotions|length > 0 %}
        <div class="text-center">
            <h4>All available promotions</h4>
            <img class="img-responsive center-block" src="{{ asset('imgs/promo.png') }}">
            <hr>
        </div>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(promotions, 'Name', 'promotion.name') }}</th>
                <th>Products</th>
                <th>{{ knp_pagination_sortable(promotions, 'Discount', 'promotion.discount') }}</th>
                <th>{{ knp_pagination_sortable(promotions, 'Start Date', 'promotion.startDate') }}</th>
                <th>{{ knp_pagination_sortable(promotions, 'End Date', 'promotion.endDate') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for promotion in promotions %}
                <tr>
                    <td>
                        <a href="{{ path("promotion_show_products", {"id": promotion.id}) }}">
                            {{ promotion.name }}
                        </a>
                    </td>
                    <td>{{ promotion.products|length }}</td>
                    <td>-{{ promotion.discount }}%</td>
                    <td>{{ promotion.startDate|date }}</td>
                    <td>{{ promotion.endDate|date }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(promotions) }}
        </div>
    {% else %}
        <h1>There is no available promotions at the moment :(</h1>
    {% endif %}
{% endblock %}