{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><i class="fa fa-shopping-cart"></i> Shopping Cart</h5>
                            </div>
                            <div class="col-xs-6">
                                <a href="{{ path('products_all') }}" type="button"
                                   class="btn btn-primary btn-sm btn-block">
                                    Continue shopping
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if cart|length > 0 %}
                <div class="panel-body">
                    {% for product in cart %}
                        <div class="row">
                            <div class="col-xs-2"><img src="{{ vich_uploader_asset(product, "imageFile") }}"
                                                       class="admin-image"
                                                       alt="Product Image">
                            </div>
                            <div class="col-xs-4">
                                <h4 class="product-name"><a class="deco-none"
                                                            href="{{ path("product_show", {"slug": product.slug}) }}">
                                        {{ product.name }}
                                    </a></h4>
                                <h4>
                                    {% if product.isInStock %}
                                        <small class="instock">In Stock / {{ product.quantity }}</small>
                                    {% else %}
                                        <small class="out-of-stock">Out Of Stock</small>
                                    {% endif %}
                                </h4>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-6 text-right">
                                    <h5><strong>€{{ product.price|number_format(2) }} </strong> x </h5>
                                </div>
                                <div class="col-xs-4">
                                    <input form="cartUpdateForm" type="text" name="{{ product.slug }}"
                                           class="form-control input-sm" value="1">
                                </div>
                                <div class="col-xs-2">
                                    <form method="post" action="{{ path("cart_remove", {"slug": product.slug}) }}">
                                        <button class="btn btn-danger btn-xs"
                                                role="button"><i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    {% else %}
                        <h3 class="text-center">Cart is empty :(</h3>
                    {% endif %}
                    {#<div class="text-center">#}
                    {#<div class="col-xs-9">#}
                    {#<h6 class="text-right">Added items or changed quantity?</h6>#}
                    {#</div>#}
                    {#<div class="col-xs-3">#}
                    {#<form id="cartUpdateForm" method="post" action="{{ path('cart_update') }}">#}
                    {#<button type="submit" class="btn btn-default btn-sm btn-block">#}
                    {#Update cart#}
                    {#</button>#}
                    {#</form>#}
                    {#</div>#}
                    {#</div>#}
                </div>
            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-xs-9">
                        <p class="text-left">Money in your account: €{{ app.user.money }}. </p>
                        {% if app.user.money < cartTotal %}
                            <p class="out-of-stock text-left">You dont have enough money to complete your order!</p>
                        {% endif %}
                    </div>
                    <div class="col-xs-3">
                        <h4 class="text-right">
                            Total <strong>€{{ cartTotal|number_format(2) }}</strong></h4>
                        <form method="post" action="{{ path('cart_checkout') }}">
                            <button type="submit"
                                    class="btn btn-success btn-block {{ cartTotal > app.user.money or cart|length == 0 ? "disabled" : "" }}">
                                Checkout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}