{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <hr>
            <div class="thumbnail">
                <img src="{{ vich_uploader_asset(product, "imageFile") }}" alt="{{ product.name }}">
                <p class="text-center">{{ product.averageRating|starsRating|raw }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Description:</h2>
            <p>{{ product.description }}</p>
            <p>Category: <a
                        href="{{ path("show_products_by_category", {"slug": product.category.slug}) }}">{{ product.category.name }}</a>
            </p>
            <p>In stock: <strong>{{ product.quantity }}</strong></p>
            <div class="h2">
                Price:
                <span class="label label-success">€{{ product.price }}</span>
            </div>
            <hr>
        </div>
    </div>
    <hr>
    <h1>Reviews</h1>
    {% if product.reviews|length > 0 %}
        {% for review in product.reviews %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>{{ review.author.fullName }} ({{ review.author.email }})</strong>
                    {{ review.rating|starsRating|raw }}
                    {% if (app.user and (review.author.id == app.user.id)) %}
                        <form method="post" action="{{ path('product_delete_review', {"id": review.id}) }}"
                              class="pull-right">
                            <button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i> Delete
                            </button>
                        </form>
                    {% endif %}
                </div>
                <div class="panel-body">
                    {{ review.body }}
                </div>
                <div class="panel-footer">
                    Posted on: {{ review.date|date }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <span>You have the chance to write the first review :)</span>
    {% endif %}
    <hr>
    {{ form_start(review_add, {'action': path('product_add_review', {'slug': product.slug}), 'method': 'POST'}) }}
    {{ form_row(review_add.body) }}
    {{ form_row(review_add.rating) }}
    <button type="submit" class="btn btn-success" formnovalidate>Add Review</button>
    {{ form_end(review_add) }}
{% endblock %}