<div class="col-sm-6 col-md-4">
    <div class="thumbnail fixed-div">
        <h3 class="text-center">{{ product.name }}</h3>
        <img class="img-thumbnail center-block fixed-image" src="{{ vich_uploader_asset(product, "imageFile") }}"
             alt="{{ product.name }}">
        <div class="caption">
            <hr>
            <p class="text">
                {% if product.isListed %}
            <form method="post" action="{{ path("user_unsell_product", {"slug": product.slug}) }}"
                  style="display: inline-block">
                <button href="" class="btn btn-success"
                ><i class="fa fa-cart-plus" aria-hidden="true"> Remove from sale</i></button>
            </form>
            {% else %}
                <form method="post" action="{{ path("user_sell_product", {"slug": product.slug}) }}"
                      style="display: inline-block">
                    <button href="" class="btn btn-success"
                    ><i class="fa fa-cart-plus" aria-hidden="true"> Put for sale</i></button>
                </form>
            {% endif %}
            <a href="{{ path("user_product_edit", {"slug": product.slug}) }}" class="btn btn-info"
               role="button"><i class="fa fa-info" aria-hidden="true"> Edit</i>
            </a>
        </div>
    </div>
</div>