{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    {{ form_start(edit_form) }}

    {{ form_row(edit_form.fullName) }}

    {{ form_row(edit_form.plainPassword.first, {
        label: "New Password"
    }) }}
    {{ form_row(edit_form.plainPassword.second, {
        label: "Repeat New Password"
    }) }}
    <hr>
    <button class="btn btn-primary fa fa-thumbs-up" formnovalidate>Edit</button>

    {{ form_end(edit_form) }}
{% endblock %}