{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}

    {{ form_start(register_form) }}

    {{ form_row(register_form.email) }}
    {{ form_row(register_form.fullName) }}
    {{ form_row(register_form.plainPassword.first, {
        label: "Password"
    }) }}
    {{ form_row(register_form.plainPassword.second, {
        label: "Repeat Password"
    }) }}

    <button class="btn btn-primary" formnovalidate>Register</button>

    {{ form_end(register_form) }}

{% endblock %}