{% extends "@ShoppingCart/base.html.twig" %}

{% block body %}
    {{ form_start(edit_form) }}

    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.category) }}
    {{ form_row(edit_form.imageFile) }}
    {{ form_row(edit_form.quantity) }}
    {{ form_row(edit_form.price) }}

    <button class="btn btn-warning" formnovalidate>Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>

    {{ form_end(edit_form) }}
{% endblock %}